* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.AboutPage {
  display: flex;
  height: auto;
}

.innerp {
  margin-top: 30px;
}
.yellow {
  color: linear-gradient(to left top, rgb(33, 110, 33), rgb(219, 219, 81));
  font-weight: bold;
  font-size: 1rem;
}
.innerp .innerSpan {
  margin-right: 5px !important;
  background: inherit;
  font-weight: bold;
  color: rgb(29, 28, 28);
}
.projectSpan {
  display: block;
  font-weight: bold;
  margin: 6px 0px;
}

.profileImage::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  background: linear-gradient(to left top, rgb(67, 206, 162), rgb(24, 90, 157))
    rgb(24, 90, 157);
}
.profileImage {
  flex: 0.5;
  max-height: 100vh;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background: url('./a.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.profileImage img {
  min-height: 100%;
}
.aboutPageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px;
  margin-top: 45vh;
}
.aboutPageOverlay :nth-child(1) {
  font-size: 1.3rem;
  font-weight: bold;
}
.aboutPageOverlay p:nth-child(2) {
  margin-bottom: 10px;
}
.aboutPageOverlay :nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutPageOverlay :nth-child(3) i {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}
.contentSection {
  flex: 0.5;
  padding: 50px 30px;
}
.contentSection div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.contentSection div hr {
  width: 4rem;
  height: 3px;
  background: blueviolet;
  margin-bottom: 10px;
}
.contentSection div ul {
  list-style-type: none;
  /* border: 1px solid red; */
}
.contentSection .titleSpan {
  /* border: 1px solid red; */
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(42, 84, 245);
  background-image: linear-gradient(
    45deg,
    rgb(42, 84, 245) 0%,
    rgb(51, 229, 187) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contentSection div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 80%;
  padding: 15px 20px;
  border: none;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

button i {
  color: rgb(42, 84, 245);
  font-size: 1.2rem;
  margin-right: 6px;
}
@media Screen and (max-width: 1020px) {
  .AboutPage {
    flex-direction: column;
  }
  .profileImage {
    flex: 1;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url('./a.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .profileImage::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    background: linear-gradient(
        to left top,
        rgb(67, 206, 162),
        rgb(24, 90, 157)
      )
      rgb(24, 90, 157);
  }
  .aboutPageOverlay {
    margin-top: 42vh;
    padding: 100px;
  }
}

@media Screen and (max-width: 530px) {
  .aboutPageOverlay {
    margin-top: 75vh;
    padding: 10px;
  }
  .profileImage {
    margin-top: -330px;
    background-position: bottom center;
    background-size: 550px;
    max-height: 60vh !important;
  }
}
